<a href="https://colab.research.google.com/github/Poorya0071/Regression-machine-learning-and-deep-learning/blob/master/House_Price_Boston.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# House_Price_Boston

In [1]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
import numpy as np
import os
import matplotlib.pyplot as plt

# Upload The dataset

In [20]:
from keras.datasets import boston_housing

(train_data, train_targets), (test_data, test_targets) = boston_housing.load_data()

In [21]:
len(train_data), len(train_targets), len(test_data), len(test_targets)

(404, 404, 102, 102)

#Modeling

In [62]:
tf.random.set_seed(42)

model_0 = tf.keras.Sequential([
    layers.Dense(16, activation = 'relu'),
    layers.Dense(32, activation = 'relu'),
    layers.Dense(64, activation = 'relu'),
    layers.Dense(128, activation = 'relu')
])

model_0.compile(loss = tf.keras.losses.mae,
              optimizer = tf.keras.optimizers.Adam(learning_rate = 0.001),
              metrics = ['mae'])

In [63]:
model_0_history = model_0.fit(train_data, train_targets, epochs = 2500, verbose = 0,
                          validation_data = (test_data, test_targets))

In [64]:
model_0.evaluate(test_data, test_targets)

4/4 [==============================] - 0s 4ms/step - loss: 3.0426 - mae: 3.0426

[3.042585849761963, 3.042585849761963]

In [65]:
from sklearn.ensemble import RandomForestRegressor
reg = RandomForestRegressor()
reg.fit(train_data, train_targets)

RandomForestRegressor()

In [66]:
y_pred_rfr = reg.predict(test_data)

In [67]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.preprocessing import StandardScaler

In [68]:
scaler = StandardScaler()

In [69]:

# fit column_transformer to the train data
scaler.fit(train_data)

X_train_scaled = scaler.transform(train_data)
X_test_scaled = scaler.transform(test_data)

In [70]:
X_train_scaled[0]

array([-0.27224633, -0.48361547, -0.43576161, -0.25683275, -0.1652266 ,
       -0.1764426 ,  0.81306188,  0.1166983 , -0.62624905, -0.59517003,
        1.14850044,  0.44807713,  0.8252202 ])

In [71]:
tf.random.set_seed(42)

model_1 = tf.keras.Sequential([
    layers.Dense(16, activation = 'relu'),
    layers.Dense(32, activation = 'relu'),
    layers.Dense(64, activation = 'relu'),
    layers.Dense(128, activation = 'relu')
])

model_1.compile(loss = tf.keras.losses.mae,
              optimizer = tf.keras.optimizers.Adam(learning_rate = 0.001),
              metrics = ['mae'])

In [72]:
model_1_history = model_1.fit(X_train_scaled, train_targets, epochs = 2500, verbose = 0,
                          validation_data = (X_test_scaled, test_targets))

In [73]:
model_1.evaluate(X_test_scaled, test_targets)

4/4 [==============================] - 0s 3ms/step - loss: 3.1147 - mae: 3.1147

[3.114729642868042, 3.114729642868042]

In [74]:
y_pred = model_0.predict(X_test)

4/4 [==============================] - 0s 3ms/step

In [75]:
y_pred_scale = model_1.predict(X_test_scaled)

4/4 [==============================] - 0s 3ms/step

In [76]:
import numpy as np
y_pred_ls = []
for i in range(len(y_pred)):
  pred = np.max(y_pred[i])
  y_pred_ls.append(pred)

In [77]:
import numpy as np
y_pred_ls_scale = []
for i in range(len(y_pred_scale)):
  pred_scale = np.max(y_pred_scale[i])
  y_pred_ls_scale.append(pred_scale)

In [78]:
import pandas as pd
results = pd.DataFrame()
results['Real Price'] = test_targets
results['Prediction DNN'] = y_pred_ls
results['Prediction DNN_scaled'] = y_pred_ls_scale
results['Prediction RFR'] = y_pred_rfr

# Compare Models

In [79]:
results.head(49)

    Real Price  Prediction DNN  Prediction DNN_scaled  Prediction RFR
0          7.2       23.159916               9.816824           8.786
1         18.8       29.009644              19.348356          18.716
2         19.0       20.927578              20.724485          20.160
3         27.0       26.874395              34.245865          24.713
4         22.2       19.691301              22.365429          22.188
5         24.5       21.297682              24.055836          20.445
6         31.2       35.495895              27.821320          30.072
7         22.9       23.221645              21.958853          23.723
8         20.5       21.191809              18.844370          17.467
9         23.2       24.559776              21.010193          19.128
10        18.6       51.981091              23.830973          19.718
11        14.5       24.494190              17.577286          19.801
12        17.8       28.285740              15.881907          14.869
13        50.0       11.738528              42.546822          41.580
14        20.8       34.494286              26.517826          19.450
15        24.3       21.783037              21.640259          21.360
16        24.2       33.137619              25.441359          23.952
17        19.8       18.615122              18.916748          21.325
18        19.1       23.114029              22.030149          18.359
19        22.7       12.532805              21.062250          20.565
20        12.0       24.813734              11.740168          15.137
21        10.2       14.685451               9.882398          15.000
22        20.0       15.180316              21.620525          20.948
23        18.5       20.153568              16.470741          20.766
24        20.9       10.000284              19.053671          19.875
25        23.0       28.384529              21.031008          20.806
26        27.5       22.704117              26.194691          26.592
27        30.1       13.484235              29.894978          28.849
28         9.5       14.375636               8.747135          11.548
29        22.0       33.908005              20.770239          21.070
30        21.2       11.455578              19.354168          20.356
31        14.1       21.270172              15.835843          16.470
32        33.1       23.024061              33.698837          30.968
33        23.4       20.217474              23.999146          23.497
34        20.1       15.544187              22.462101          17.201
35         7.4       27.374100               7.170424           8.975
36        15.4       19.304712              19.177933          15.087
37        23.8       38.440956              20.041943          20.402
38        20.1       21.184402              18.395536          19.931
39        24.5       20.776564              27.126818          26.839
40        33.0       20.197718              33.342522          32.373
41        28.4       25.450142              25.295530          25.900
42        14.1        3.076270              13.087327          15.493
43        46.7       36.856865              44.385239          44.612
44        32.5       51.462067              28.764174          28.104
45        29.6       21.117985              27.826677          26.027
46        28.4       21.218065              27.550161          25.949
47        19.8       14.934484              20.037195          19.991
48        20.2       36.169685              22.896708          21.132